a.logo(href="/") 
    img(src="/img/Ovalvich.webp", alt="OvichMedia")
a.edition(href="/our-editions") OvichNews 
.hamburger 
    .bar 
.header 
    ul.nav
        li.show-subMenu about us 
            i.fa-solid.fa-chevron-down
            .sub-menu
                .menu-container
                    <h3><a href="/about-ovichmedia">About us</a></h3>
                    <h3><a href="/mission">Mission</a></h3>
                    <h3><a href="/vision">Vision</a></h3>
                    <h3><a href="/values">Values</a></h3>
                    <h3><a href="/engagement">Engagement</a></h3>
                    <h3><a href="/privacy-policy">Privacy Policy</a></h3>
        if (title === 'Our editions')
            li.current-page
                <a href="/our-editions">Our editions</a>
        else 
            li
                <a href="/our-editions">Our editions</a>
        if (title === 'Investors')
            li.current-page
                <a href="/investors">Investors</a>
        else 
            li
                <a href="/investors">Investors</a>
        if (title === 'Career')
            <li class="current-page"><a href="/career">Careers</a></li>
        else 
            <li><a href="/career">Careers</a></li>
        if (title === 'Newsroom')
            <li class="current-page"><a href="/newsroom">newsroom</a></li>
        else 
            <li><a href="/newsroom">newsroom</a></li>
        if (title === 'Contact')
            <li class="current-page"><a href="/contact">Contact</a></li>
        else
            <li><a href="/contact">Contact</a></li>