extends base

block content
    section.hero(style='background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/bg-img/aboutus.jpg);')
        .sloggan
            h1 Overview
            p We are providers of free news content from accross the world in USA, UK, Canada, France, Mexico, Colombia, Nigeria, Cameroun, Ivory Coast and more, that captures hearts and minds with superior inspiring news stories. Ovichnews is driven by truth, accuracy, and timeliness and provide you with unbiased information.
        <a href="#" class="arrow-down" aria-label="Arrow down"><i class="fa-solid fa-chevron-down"></i></a>
    section.hero
        .sloggan.sloggan-long
            p From breaking regional, national and world wide news to the biggest events in politics, society, world, sports, business, entertainment, inspiration,  and many others, we are at the heart of the news.