extends base

block content
    section.hero(style='background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/bg-img/aboutus.jpg);')
        .sloggan
            h1 About OvichMedia
            p OvichMedia: Your Source for Diverse and Independent Information. <br> In today's digital age, media plays an integral role in our daily lives. We are constantly seeking reliable and diverse sources of information to quench our thirst for knowledge. It is in this context that OvichMedia stands out as an independent digital media platform.
        <a href="#" class="arrow-down" aria-label="Arrow down"><i class="fa-solid fa-chevron-down"></i></a>
    section.hero
        .sloggan.sloggan-long
            p With millions of followers across various channels in different countries, OvichMedia offers exclusive and comprehensive information to its users. As the parent company, OvichMedia is also responsible for OvichNews USA, OvichNews UK, OvichNews Canada, OvichNews France, OvichNews Mexico, OvichNews Colombia, OvichNews Nigeria, OvichNews Cameroon, and OvichNews Côte d'Ivoire. These platforms cover a wide range of topics such as politics, society, business, entertainment, world news, inspiration, love, culture, health, viral news, and more. With this diversity of content, OvichNews caters to the expectations and interests of every reader.
    section.about-us 
        .about-us-contaner 
            .about-us-section
                p At OvichMedia, we believe that independence is the key to providing unbiased and impartial information to our readers. We are not affiliated with any political party or interest group, allowing us to approach sensitive topics with complete freedom.
                p Our team of professional and passionate journalists is constantly on the lookout for news, in order to provide you with relevant and reliable information in real-time. We are committed to providing a quality user experience, ensuring the accuracy and quality of our content.
                p OvichMedia is also an interactive platform, where users can express themselves and share their opinions on published articles. We encourage debate and diversity of opinions, while respecting everyone's perspective.
                p As a digital media platform, we are also mindful of our environmental impact. This is why we have chosen to prioritize digital formats, limiting the consumption of natural resources.
                p In summary, OvichMedia is much more than a media outlet, it is a community that brings together individuals from all walks of life around a common passion: information. We invite you to follow our updates on our various social media platforms and join our community to share a diverse, independent, and high-quality source of information together.
            .about-us-section.about-us-img
                img(src="/img/about-us.webp", alt="About OvichMedia")