extends base

block content
    section.hero(style='background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/bg-img/about-us.jpg);')
        .sloggan
            h1 Overview
            p OvichMedia Group LLP, is England’s leading News organization with interests in Global, National and Regional News channels and Digital News Publishing. The Company's business portfolio comprises of directly owned news media and one channel through its 100% owned subsidiary OvichNews.
        <a href="#" class="arrow-down" aria-label="Arrow down"><i class="fa-solid fa-chevron-down"></i></a>
    section.hero
        .sloggan.sloggan-long
            p The Company has a country-wide network of news bureaus and correspondents, strong editorial team equipped with well-known professionals accomplished in 24/7 broadcast journalism and world-class technology for content creation, packaging, and broadcasting. The Company broadcast National and Regional News and Current Affairs TV Channels and have a News Network with 9 news platforms in 5 different languages and various digital properties.