extends base

block content
    section.hero(style='background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/bg-img/career.webp);')
        .sloggan
            h1 Careers
            p At OvichMedia, we combine the common and the exceptional minds <br> to think critically and share our stories.
        a(href="#" class="arrow-down" aria-label="Arrow down")
            i.fa-solid.fa-chevron-down
    section.container 
        section.career
            .career-img
                img(src="/img/mission3.webp", alt="OvichMeia Careers")
            .content 
                h1 Be part of a group that shares talent.
                p Join OvichMedia  as we build a dynamic company Through our subsidiary OvichNews Platforms in different countries, with a foundation of creativity,innovation, and excellence.
        section.career
            .career-img
                img(src="/img/mission1.webp", alt="OvichMeia Careers")
            .content 
                h1 Begin your story with us
                p At OvichMedia, we bring together the ordinary and the extraordinary minds to challenge themselves and be part of the story we create. Join our team and be part of an organization that challenges the norm through innovation and creativity.