extends base

block content
    section.hero(style='background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/bg-img/career.webp);')
        .sloggan
            h1 Careers
            p Are you looking for an exciting career opportunity in the media industry? Look no further than OvichMedia. With a team that combines both common and exceptional minds, we strive to think critically and share our stories with the world.
        a(href="#" class="arrow-down" aria-label="Arrow down")
            i.fa-solid.fa-chevron-down
    section.container 
        section.career
            .career-img
                img(src="/img/mission3.webp", alt="OvichMeia Careers")
            .content 
                h1 Be part of a group that shares talent.
                p Join us and be a part of a talented group of individuals working together to create dynamic content. At OvichMedia, we value creativity, diversity, and innovation. Begin your story with us and let's make a mark in the media world together.
        section.career
            .career-img
                img(src="/img/mission1.webp", alt="OvichMeia Careers")
            .content 
                h1 Begin your story with us
                p At ovichmedia, we believe in success and growth. Our company strives to create a professional and conducive environment for employees to excel in their careers. We value creativity, innovation, and hard work, and are dedicated to providing our clients with top-notch services. We believe that teamwork and collaboration are the keys to achieving greatness, and we foster a collaborative and supportive culture at ovichmedia. If you are looking for a challenging and rewarding career, join us at ovichmedia and be a part of our dynamic team. Together, we can achieve excellence.
                h2 Apply now for a rewarding career at OvichMedia!