extends base

block content
    <section class="hero" style='background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/img/bg-img/contact.webp);'>
        <div class="sloggan">
            <h1>Connect with us</h1>
            <p> If you wish to contact us, please reach out to Ovichmedia. Our team at Ovichmedia will be happy to assist you.
            </p>
        </div>
        <a href="#" class="arrow-down" aria-label="Arrow down"><i class="fa-solid fa-chevron-down"></i></a>
    </section>
    <section class="contact">
        <div class="contact-content">
            <h1>How can you share a testimony with us?</h1>
            <p>You can submit your testimony by sending an email to testimonial@ovichmedia.com. If you have already written your testimony, you can attach it to your email.</p>
            <p>We prioritize testimonies from genuine individuals on topics that are relevant to our readers and encourage debate. Your testimony should ideally be between 500 and 1000 words. If we choose to publish it, we will credit you as the author or use a pseudonym that you agree upon. Before publishing, we may make some edits and will consult with you regarding any changes.</p>
            <p>Please keep in mind that we will not publish testimonies that contain defamation, insults, or any type of discrimination prohibited by law.</p>
            <p>For more details on the testimonies we publish on Ovichmedia, please refer to our guidelines here: <a href="mailto:contributions@ovichmedia.com">contributions@ovichmedia.com.</a></p>
            <p>We prioritize opinion pieces that offer insights and perspectives on current topics featured on our website. In order to ensure that our published content is trustworthy and valuable for our readers, we require the author to have expertise in the chosen topic or provide a personal testimony based on their own experience. Our accepted columns have a maximum word count of 5000 characters, including spaces. Although our column submissions are open to everyone, we have limited editorial capabilities, which means we cannot publish all submissions. Therefore, we carefully select pieces that meet the aforementioned criteria and align with our progressive and public editorial stance.</p>
            <h1>How can you get in touch with the editorial team?</h1>
            <p>The entire Ovichmedia editorial team can be reached via email at <a href="mailto:redaction@ovichmedia.com">redaction@ovichmedia.com.</a></p>
            <p>If you experience any difficulties accessing our website or application, please contact us at <a href="mailto:help@ovichmedia.com">help@ovichmedia.com.</a></p>
            <p>To report an error in an article, you can write to <a href="mailto:corrections@ovichmedia.com">corrections@ovichmedia.com.</a> Please maintain a respectful and polite tone in your correspondence.</p>
            <h1>To get in touch with...</h1>
            <h1>The editorial department:</h1>
            <p><a href="mailto:help@ovichmedia.com">help@ovichmedia.com.</a></p>
            <p><a href="mailto:testimonial@ovichmedia.com">testimonial@ovichmedia.com.</a></p>
            <p><a href="mailto:contributions@ovichmedia.com">contributions@ovichmedia.com.</a></p>
            <p><a href="mailto:redaction@ovichmedia.com">redaction@ovichmedia.com.</a></p>
            <p><a href="mailto:corrections@ovichmedia.com">corrections@ovichmedia.com.</a></p>
            <p><a href="mailto:info@ovichmedia.com">info@ovichmedia.com.</a></p>
            <p>Contact us if you are a member of the press seeking information about OvichMedia.</p>
            <h1>Marketing Department.</h1>
            <p>Advertise with us</p>
            <p><a href="mailto:advitise@ovichmedia.com">advitise@ovichmedia.com.</a></p>
        </div>
    </section>
    <section class="contact">
        <h1>Connect with us</h1>
        <form id="form">
            <div class="row">
                <div class="input-group">
                    <input type="text" id="name" id="name" name="name" required>
                    <label for="name"><i class="fa-solid fa-user"></i> Your Name</label>
                </div>
                <div class="input-group">
                    <input type="email" id="email" name="email" required>
                    <label for="email"><i class="fa-solid fa-envelope"></i> Your Email</label>
                </div>
            </div>
            <div class="input-group">
                <input type="text" id="number" required>
                <label for="number"><i class="fa-solid fa-phone-square-alt"></i> Phone No.</label>
            </div>
            <div class="input-group">
                <input id="subject" name="subject" type="text" required>
                <label for="subject"><i class="fa-solid fa-comment"></i> Subject</label>
            </div>
            <div class="input-group">
                <textarea name="message" id="message" rows="10" required></textarea>
                <label for="message"><i class="fa-solid fa-comments"></i> Your Message</label>
            </div>
            <button type="submit" class="sending">SUBMIT <i class="fa-solid fa-paper-plane"></i></button>
        </form>
        <section class="contact-information">
            <div class="media-icons">
                <a href="https://facebook.com/61555374465611" , aria-label="Facebook", target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://twitter.com/ovichnews" , aria-label="Twitter" , target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.linkedin.com/company/ovichmedia" target="_blank" , aria-label="Linkedin"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.youtube.com/channel/UCL6do78G-KK8ZJTfzWMEUww" , aria-label="Youtube" ,target="_blank"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </section>
    </section>