extends base

block content
    <section class="hero" style='background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/bg-img/contact.webp);'>
        <div class="sloggan">
            <h1>Connect with us</h1>
            <p> You can reach us at any time from anywhere through our social media pages and you can equally leave us your contact information and we will get to you as soon as possible.
            </p>
        </div>
        <a href="#" class="arrow-down" aria-label="Arrow down"><i class="fa-solid fa-chevron-down"></i></a>
    </section>
    <section class="contact">
        <div class="contact-content">
            <h1>Give Us The Scoop</h1>
            <p>Do you have a news tip or firsthand account of something to pass along to our reporters? Email Us <a href="mailto:support@mvichmedia.com">support@mvichmedia.com</a> </p>
            <h1>Report A Correction Or Typo</h1>
            <p>To ensure that the correct editors are notified as soon as possible, please click the "Report Corrections" link at the bottom of the appropriate article. If the correction does not relate to a specific article, please contact us here.</p>
            <h1>Have A Problem?</h1>
            <p>Please contact us to discuss the problem and find a solution</p>
            <h1>Advertise On OvichMedia</h1>
            <p>Contact us to discuss advertising and custom solutions.</p>
            <h1>Get The Latest Announcements.</h1>
            <p>Click here for our press page.</p>
            <h1>Press Inquiries.</h1>
            <p>Contact us if you are a member of the press seeking information about OvichMedia.</p>
            <h1>Work With Us.</h1>
            <p>Check out current job openings at OvichMedia.</p>
        </div>
    </section>
    <section class="contact">
        <h1>Connect with us</h1>
        <form id="form">
            <div class="row">
                <div class="input-group">
                    <input type="text" id="name" id="name" name="name" required>
                    <label for="name"><i class="fa-solid fa-user"></i> Your Name</label>
                </div>
                <div class="input-group">
                    <input type="email" id="email" name="email" required>
                    <label for="email"><i class="fa-solid fa-envelope"></i> Your Email</label>
                </div>
            </div>
            <div class="input-group">
                <input type="text" id="number" required>
                <label for="number"><i class="fa-solid fa-phone-square-alt"></i> Phone No.</label>
            </div>
            <div class="input-group">
                <input id="subject" name="subject" type="text" required>
                <label for="subject"><i class="fa-solid fa-comment"></i> Subject</label>
            </div>
            <div class="input-group">
                <textarea name="message" id="message" rows="10" required></textarea>
                <label for="message"><i class="fa-solid fa-comments"></i> Your Message</label>
            </div>
            <button type="submit" class="sending">SUBMIT <i class="fa-solid fa-paper-plane"></i></button>
        </form>
        <section class="contact-information">
            <div class="media-icons">
                <a href="https://www.facebook.com/profile.php?id=100085067361313" , aria-label="Facebook", target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://twitter.com/ovichnews" , aria-label="Twitter" , target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" , aria-label="Linkedin"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.youtube.com/channel/UCL6do78G-KK8ZJTfzWMEUww" , aria-label="Youtube" ,target="_blank"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </section>
    </section>