extends base

block content
    section.hero.home(style="background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/bg-img/engagement.webp);")
        .sloggan
            h1 Engagement
            p Ovichmedia, your reliable source for all things engagement. Our focus is on facts and accuracy, as we believe that trustworthy information is the key to empowering individuals and communities. With our high standards and unwavering commitment to free and exclusive news, we strive to inform, educate, entertain, and inspire the world. Stay tuned for the latest updates and insights on all things engagement, brought to you by Ovichmedia.