extends base

block content
  main.main.err(style="background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/bg-img/error.jpg);")
    .error
      .error__title
        h2 Uh oh! Something went wrong!
      .error__msg= msg