extends base

block content
    section.hero.home(style='background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/bg-img/OvichMedia.webp);')
        .sloggan 
            h1 Welcome to OvichMedia
            p OvichMedia is a premier independent digital media for the most informative and diversified news stories that group millions of people across its different platforms, with standard, free, and exclusive information for all. Ovichmedia group has as a subsidiary Ovichnews who covers Politics, Society, Business, Entertainment, World, inspiration, Love, Culture, Health, Viral news, and more.
        .video-container 
            video(src="/vid/ovich-newsbg.mp4",  muted, autoplay, loop, poster='/img/bg-img/ovich-poster.png') 