extends base

block content
    section.hero(style='background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/img/bg-img/investors-bg.webp);')
        .sloggan
            h1 Investors
            p Greetings, esteemed investors of OvichMedia. It is with great pleasure that I present to you the opportunity to invest in our platform. As we all know, access to information is crucial in today's society and OvichMedia is committed to providing just that - free access to information on an international scale.
    .our-block-content 
        section.ourblock-content-container 
            p By investing in OvichMedia, you are not only supporting our mission but also ensuring its continuation. Your investment will enable us to expand our reach and break down financial and geographical barriers that limit access to information.
            p OvichNews USA, OvichNews UK, OvichNews Canada, OvichNews France, OvichNews Mexico, OvichNews Colombia, OvichNews Nigeria, OvichNews Cameroon, and OvichNews Côte d'Ivoire are just a few of the countries that benefit from our platform. With your investment, we can continue to provide these communities with the resources they need to stay informed and educated.
            p So I urge you, dear investors, to join us on this journey to make information accessible to all. Your contributions will not only bring about positive change but also lead to potential returns on investment.
            p Come, be a part of the OvichMedia family and invest in a better future for all. Thank you for your consideration and let's make a difference together.
