extends base

block content
    section.hero.investors(style='background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/img/bg-img/investors-bg.webp);')
        .sloggan
            h1 Investors
            p OvichMedia INC, a qualitative digital platform for free access to information, is dedicated to providing information on an international scale. By investing in OvichMedia, your support and perpetuate access to information, without financial or geographical barriers.
            p 
                a(href="/contact") Join the movement!
