extends base

block content
    section.hero.investors.slidesContainer
        .sloggan
            h1 Investors
            p Partners with us to enhance the reach of standard, free, and exclusive information that bridges the gap between the information –rich and the information-poor by giving a voice to the voiceless and bearing witness to events as they unfold. The development and orientation of ovichmedia dependent on you.
        .slideshow-container
            .mySlides.fade
                img(src="/img/slides/1.webp", alt="OvichMedia")
            .mySlides.fade
                img(src="/img/slides/2.webp", alt="OvichMedia")
            .mySlides.fade
                img(src="/img/slides/3.webp", alt="OvichMedia")
            .mySlides.fade
                img(src="/img/slides/4.webp", alt="OvichMedia")
            .mySlides.fade
                img(src="/img/slides/5.webp", alt="OvichMedia")
            .mySlides.fade
                img(src="/img/slides/6.webp", alt="OvichMedia")
            .mySlides.fade
                img(src="/img/slides/7.webp", alt="OvichMedia")
            .mySlides.fade
                img(src="/img/slides/8.webp", alt="OvichMedia")
