extends base

block content
    <section class="hero" style='background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/bg-img/mission-bg.webp);'>
        <div class="sloggan">
            <h1>Mission</h1>
            <p> Ovichmedia through ovichnews has a mission to provide access to standard, free and exclusive information with an objective to inform, educate, entertain and inspire the world by supplying accurate, diverse and trending content.</p>
        </div>
        <a href="#" class="arrow-down" aria-label="Arrow down"><i class="fa-solid fa-chevron-down"></i></a>
    </section>
    <section class="container">
        <div class="mission-container">
            <div class="mission">
                <div class="mission-text">
                    <div class="mission-text-container">
                        <h1>We are news seekers as well as truth seekers and narrators.</h1>
                        <p>We provide a voice for those voiceless by providing the opportunity for those suffering injustice to tell their stories.</p>
                    </div>
                </div>
                <div class="mission-image">
                    <div class="image-container">
                        <img src="/img/mission1.webp" alt="">
                    </div>
                </div>
            </div>
            <div class="mission">
                <div class="mission-text">
                    <div class="mission-text-container">
                        <h1>We witness events that place people in the middle of each story we tell.</h1>
                        <p>We take no responsibility other than facts since we believe that truthful information is vital to influencing and improving the lives of communities and individuals across the globe.</p>
                    </div>
                </div>
                <div class="mission-image">
                    <div class="image-container">
                        <img src="/img/mission2.webp" alt="">
                    </div>
                </div>
            </div>
            <div class="mission">
                <div class="mission-text">
                    <div class="mission-text-container">
                        <p>We help bridge the gap between the information-rich and the less-informed by disseminating knowledge through easy-to-use platforms.</p>
                        <h1>We exist because you exist. We are therefore determined to serve you.</h1>
                    </div>
                </div>
                <div class="mission-image">
                    <div class="image-container">
                        <img src="/img/mission3.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>