extends base

block content
    section.hero(style='background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/bg-img/newsroom.webp);')
        <div class="sloggan">
            <h1>News Room</h1>
            <p>Welcome to OvichMedia's News Room. Here, we bring you the latest updates and feature stories on our company and its initiatives. From community projects to preserving our heritage, we strive to make a positive impact through our work. Stay tuned as we share the stories of our people and their contributions to our success. So go ahead and scroll through to stay informed. Thank you for choosing OvichMedia.
            </p>
        </div>
        .video-container 
            video(src="/vid/ovich-newsbg.mp4",  muted, autoplay, loop, poster='/img/bg-img/ovich-poster.png') 
        <a href="#" class="arrow-down" aria-label="Arrow down"><i class="fa-solid fa-chevron-down"></i></a>
    <section id="blog">
        <div class="blog-container">
            <div class="blog-box">
                <div class="blog-img">
                    <img src="/img/posts/blog-1.jpeg" alt="blog">
                </div>
                <div class="blog-text">
                    <span>12 December 2022</span>
                    <a href="#" class="blog-title">What is happening presently in the ovalvich holding</a>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim in rerum totam, quaerat optio cumque aliquam consequuntur ad cupiditate dicta quis molestiae tenetur deleniti cum! Maiores earum magni officia sint?</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="blog-box">
                <div class="blog-img">
                    <img src="/img/posts/blog-2.jpeg" alt="blog">
                </div>
                <div class="blog-text">
                    <span>12 December 2022</span>
                    <a href="#" class="blog-title">What is happening presently in the ovalvich holding</a>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim in rerum totam, quaerat optio cumque aliquam consequuntur ad cupiditate dicta quis molestiae tenetur deleniti cum! Maiores earum magni officia sint?</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="blog-box">
                <div class="blog-img">
                    <img src="/img/posts/blog-3.jpeg" alt="blog">
                </div>
                <div class="blog-text">
                    <span>12 December 2022</span>
                    <a href="#" class="blog-title">What is happening presently in the ovalvich holding</a>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim in rerum totam, quaerat optio cumque aliquam consequuntur ad cupiditate dicta quis molestiae tenetur deleniti cum! Maiores earum magni officia sint?</p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </section>