extends base

block content
    <section class="hero" style='background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/bg-img/ovichbrands-bg.webp);'>
        <div class="sloggan">
            <h1>Our Editions</h1>
            <p>The variety of content published on our platforms reaches millions of people every month. Our sites offer an inexhaustible source of information, through diversified news, blogs, inspiration and originality.
            </p>
        </div>
        <a href="#" class="arrow-down" aria-label="Arrow down"><i class="fa-solid fa-chevron-down"></i></a>
    </section>
    <section class="ourbrands">
        <div class="brands-container">
            <a href="https://www.ovichnews.com/" target="_blank" class="brand">
                <img src="/img/ourbrands/usa.png" alt="Ovichnews U.S.A">
                <img src="/img/ourbrands/country/usa.png" class="country" alt="Ovichnews U.S.A"></a>
            <a href="https://www.ovichnews.co.uk/" target="_blank" class="brand">
                <img src="/img/ourbrands/country/uk.png" class="country" alt="Ovichnews United Kingdom">
                <img src="/img/ourbrands/uk.png" alt="Ovichnews United Kingdom"></a>
            <a href="https://www.ovichnews.ca/" target="_blank" class="brand">
                <img src="/img/ourbrands/country/canada.png" class="country" alt="Ovichnews Canada">
                <img src="/img/ourbrands/canada.png" alt="Ovichnews Canada"></a>
            <a href="https://www.ovichnews.fr/" target="_blank" class="brand">
                <img src="/img/ourbrands/country/france.png" class="country" alt="Ovichnews France">
                <img src="/img/ourbrands/france.png" alt="Ovichnews France"></a>
            <a href="https://www.ovichnewscameroun.com/" target="_blank" class="brand">
                <img src="/img/ourbrands/country/cameroon.png" class="country" alt="Ovichnews Cameroon">
                <img src="/img/ourbrands/cameroon.png" alt="Ovichnews Cameroon"></a>
            <a href="https://www.ovichnewsivoire.com/" target="_blank" class="brand">
                <img src="/img/ourbrands/country/ivoire.png" class="country" alt="Ovichnews Cote d'ivoire">
                <img src="/img/ourbrands/ivoire.png" alt="Ovichnews Cote d'ivoire"></a>
            <a href="https://www.ovichnews.co/" target="_blank" class="brand">
                <img src="/img/ourbrands/country/colombia.png" class="country" alt="Ovichnews colombia">
                <img src="/img/ourbrands/colombia.png" alt="Ovichnews colombia"></a>
            <a href="https://www.ovichnews.mx/" target="_blank" class="brand">
                <img src="/img/ourbrands/country/mexico.png" class="country" alt="Ovichnews Mexico">
                <img src="/img/ourbrands/mexico.png" alt="Ovichnews Mexico"></a>
            <a href="https://www.ovichnewsnigeria.com/" target="_blank" class="brand">
                <img src="/img/ourbrands/country/nigeria.png" class="country" alt="Ovichnews Nigeria">
                <img src="/img/ourbrands/nigeria.png" alt="Ovichnews Nigeria"></a>
            <a href="#" class="brand">
                <img src="/img/ourbrands/country/panama.png" class="country" alt="Ovichnews Panama">
                <img src="/img/ourbrands/panama.png" alt="Ovichnews Panama"></a>
            <a href="#" class="brand">
                <img src="/img/ourbrands/country/florida.png" class="country" alt="Ovichnews Florida">
                <img src="/img/ourbrands/florida.png" alt="Ovichnews Florida"></a>
            <a href="#" class="brand">
                <img src="/img/ourbrands/country/jamaica.png" class="country" alt="Ovichnews Florida">
                <img src="/img/ourbrands/jamaica.png" alt="Ovichnews Florida"></a>

        </div>
    </section>