extends base

block content
    .hero(style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/bg-img/ouredition.jpg);")
        .sloggan
            h1 Our Editions
            p Greetings from Ovichmedia! We are proud to bring you the latest news and updates through our multiple editions around the world. With Ovichmedia, you can stay informed and connected to current events no matter where you are.
    section.our-block-content 
        .ourblock-content-container 
            p Our editions cater specifically to different countries, ensuring that the news is relevant and informative for our readers. In the United States, we have OvichNews USA, providing coverage on American politics, economy, and lifestyle. For our friends across the pond, OvichNews UK offers insights into European affairs and global news. In Canada, OvichNews Canada keeps you up to date with local and international headlines.
            p But our reach doesn't stop there. Ovichmedia also has editions in France, Mexico, Colombia, Nigeria, Cameroon, and Côte d'Ivoire. Each of these editions highlights the unique perspectives and stories of their respective regions, making Ovichmedia a truly global news source.
            p No matter which edition you choose, our tone and voice remain consistent throughout - reliable, informative, and thought-provoking. We aim to provide fair and unbiased reporting, allowing our readers to form their own opinions on the matters at hand.
            p We at Ovichmedia are committed to delivering quality content and keeping you connected to the world. Thank you for choosing us as your source for news and updates. Stay tuned for more from Ovichmedia, your trusted media partner.
    <section class="ourbrands">
        <div class="brands-container">
            <a href="https://www.ovichnews.com/" target="_blank" class="brand">
                <img src="/img/ourbrands/usa.png" alt="Ovichnews U.S.A">
                <img src="/img/ourbrands/country/usa.png" class="country" alt="Ovichnews U.S.A"></a>
            <a href="https://www.ovichnews.co.uk/" target="_blank" class="brand">
                <img src="/img/ourbrands/country/uk.png" class="country" alt="Ovichnews United Kingdom">
                <img src="/img/ourbrands/uk.png" alt="Ovichnews United Kingdom"></a>
            <a href="https://www.ovichnews.ca/" target="_blank" class="brand">
                <img src="/img/ourbrands/country/canada.png" class="country" alt="Ovichnews Canada">
                <img src="/img/ourbrands/canada.png" alt="Ovichnews Canada"></a>
            <a href="https://www.ovichnews.fr/" target="_blank" class="brand">
                <img src="/img/ourbrands/country/france.png" class="country" alt="Ovichnews France">
                <img src="/img/ourbrands/france.png" alt="Ovichnews France"></a>
            <a href="https://www.ovichnewscameroun.com/" target="_blank" class="brand">
                <img src="/img/ourbrands/country/cameroon.png" class="country" alt="Ovichnews Cameroon">
                <img src="/img/ourbrands/cameroon.png" alt="Ovichnews Cameroon"></a>
            <a href="https://www.ovichnewsivoire.com/" target="_blank" class="brand">
                <img src="/img/ourbrands/country/ivoire.png" class="country" alt="Ovichnews Cote d'ivoire">
                <img src="/img/ourbrands/ivoire.png" alt="Ovichnews Cote d'ivoire"></a>
            <a href="https://www.ovichnews.co/" target="_blank" class="brand">
                <img src="/img/ourbrands/country/colombia.png" class="country" alt="Ovichnews colombia">
                <img src="/img/ourbrands/colombia.png" alt="Ovichnews colombia"></a>
            <a href="https://www.ovichnews.mx/" target="_blank" class="brand">
                <img src="/img/ourbrands/country/mexico.png" class="country" alt="Ovichnews Mexico">
                <img src="/img/ourbrands/mexico.png" alt="Ovichnews Mexico"></a>
            <a href="https://www.ovichnewsnigeria.com/" target="_blank" class="brand">
                <img src="/img/ourbrands/country/nigeria.png" class="country" alt="Ovichnews Nigeria">
                <img src="/img/ourbrands/nigeria.png" alt="Ovichnews Nigeria"></a>
            <a href="#" class="brand">
                <img src="/img/ourbrands/country/panama.png" class="country" alt="Ovichnews Panama">
                <img src="/img/ourbrands/panama.png" alt="Ovichnews Panama"></a>
            <a href="#" class="brand">
                <img src="/img/ourbrands/country/florida.png" class="country" alt="Ovichnews Florida">
                <img src="/img/ourbrands/florida.png" alt="Ovichnews Florida"></a>
            <a href="#" class="brand">
                <img src="/img/ourbrands/country/jamaica.png" class="country" alt="Ovichnews Florida">
                <img src="/img/ourbrands/jamaica.png" alt="Ovichnews Florida"></a>

        </div>
    </section>
    