extends base

block content
    <section class="hero" style='background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/bg-img/values.webp);'>
        <div class="sloggan">
            <h1>Values</h1>
            <p> Ovichmedia is committed to our mission and driven by our vision. We firmly believe that these two pillars are the driving force behind all of our endeavors. In order to achieve success and make a positive impact, we have established a set of core values that guide our actions and shape our culture.
            </p>
        </div>
        <a href="#" class="arrow-down" aria-label="Arrow down"><i class="fa-solid fa-chevron-down"></i></a>
    </section>
    <section class="container">
        <div class="mission-container">
            <div class="mission">
                <div class="mission-text">
                    <div class="mission-text-container">
                        <p>These values are not just words on a page, but rather a way of life for all members of the Ovichmedia team. They challenge us to constantly improve and push the boundaries of what is possible. With ordinary and extraordinary minds working together, we are able to achieve remarkable results and exceed expectations.</p>
                        <p>Integrity is at the core of everything we do. We believe in being honest, transparent, and ethical in all of our interactions, whether with clients, partners, or colleagues. This creates a foundation of trust and respect that is essential for any successful relationship.</p>
                    </div>
                </div>
                <div class="mission-image">
                    <div class="image-container">
                        <img src="/img/mission1.webp" alt="OvichMedia Values">
                    </div>
                </div>
            </div>
            <div class="mission">
                <div class="mission-text">
                    <div class="mission-text-container">
                        <p>Innovation is key to our success. We are constantly seeking new ways to solve problems and improve processes. Our team is encouraged to think outside the box and embrace creativity in their work. This allows us to stay ahead of the curve and offer unique solutions to our clients.</p>
                    <p>Collaboration is essential to our teamwork. By working together and leveraging our diverse perspectives and skills, we are able to achieve more than we ever could individually. We value and respect each other's contributions and understand the power of collaboration to drive success.</p>
                    </div>
                </div>
                <div class="mission-image">
                    <div class="image-container">
                        <img src="/img/audience.webp" alt="OvichMedia Values">
                    </div>
                </div>
            </div>
            <div class="mission">
                <div class="mission-text">
                    <div class="mission-text-container">
                    <p>Excellence is always our goal. We strive for excellence in everything we do, whether it's delivering top-quality work to our clients or supporting each other in our daily tasks. We are not satisfied with mediocrity and are constantly pushing ourselves to improve and exceed expectations.</p>
                    <p>At Ovichmedia, these values are not just ideals, but a way of life. They guide us in our mission to provide exceptional services and achieve our vision of making a positive impact in the world. With our values as our compass, we are confident in our ability to create meaningful and successful solutions for our clients.</p>
                    </div>
                </div>
                <div class="mission-image">
                    <div class="image-container">
                        <img src="/img/creativity.webp" alt="OvichMedia Values">
                    </div>
                </div>
            </div>
        </div>
        <section class="cta">
            <div class="cta_cards-container">
                <div class="cta_card">
                    <a href="#"><i class="fa-solid fa-people-arrows"></i></a>
                    <h1>Teamwork.</h1>
                    <p> We believe in teamwork. We combine our abilities with the best minds to educate, inform, engage, entertain and inspire.
                    </p>
                </div>
                <div class="cta_card">
                    <a href="#"><i class="fa-solid fa-users-gear"></i></a>
                    <h1>Innovation.</h1>
                    <p> We are constantly challenged to invent to produce the highest standard of work you can expect from us.
                    </p>
                </div>
                <div class="cta_card">
                    <a href="#"><i class="fa-solid fa-award"></i></a>
                    <h1>Respect.</h1>
                    <p> We are respectful of each other within our team, as we adhere to professional standards and ethics that form our trustworthiness and foster inclusion.
                    </p>
                </div>
            </div>
        </section>
    </section>