extends base

block content
    <section class="hero" style='background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/bg-img/vision-bg.webp);'>
        <div class="sloggan">
            <h1>Vision</h1>
            <p>To become the world's most trusted and well-known media company. <br> Our vision form the basis of every action we take.
            </p>
        </div>
    </section>