extends base

block content
    <section class="hero" style='background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/bg-img/vision-bg.webp);'>
        <div class="sloggan">
            <h1>Vision</h1>
            <p>Our goal at Ovichmedia is to become the world's most trusted and recognized media company. We strive to achieve this by providing top-quality content that resonates with our audience, building strong relationships with our clients, and constantly adapting to the ever-changing media landscape. Our vision drives our every decision and action, as we strive to be a leader in the industry and make a positive impact through our work.
            </p>
        </div>
    </section>